/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #4CAF50;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

nav button {
    color: white;
    background-color: red;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

h1, h2, h3 {
    color: #333;
}

textarea {
    width: 100%;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    background-color: #4CAF50;
}
